<div class="container-fluid" >
<mat-table style="margin-bottom: 52px;" #table [dataSource]="dataSource">

    <ng-container matColumnDef="employeeCode">
      <mat-header-cell *matHeaderCellDef> Employee Code </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.empcode}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="employeeName">
      <mat-header-cell *matHeaderCellDef>Employee Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.empName}} </mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dob}} </mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="doj">
      <mat-header-cell *matHeaderCellDef> DOJ </mat-header-cell>   
      <mat-cell *matCellDef="let element"> {{element.doj}} </mat-cell>
    </ng-container>

      
    <ng-container matColumnDef="qualification"> 
        <mat-header-cell *matHeaderCellDef> Qualification </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.highestQualification}} </mat-cell>
      </ng-container>

        
    <ng-container matColumnDef="managerCode">
        <mat-header-cell *matHeaderCellDef> Manager Code </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.managerCode}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element" style="cursor:pointer;"> <mat-icon (click)="openDialog('edit',element)" style="margin: 7px;">edit</mat-icon>
          <mat-icon (click)="deleteDetail(element)">delete</mat-icon> </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <button class="btn btn-primary" style="float: right;" (click)="openDialog('new')">Add Employee</button><br>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>